<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Crop Prediction</h1>
    <form action="/predict" method="post">
        
        <label for="Temperature">Temperature:</label>
        <input type="text" id="Temperature" name="Temperature" pattern="\d+(\.\d{1,2})?" required><br>
        
        <label for="Humidity">Humidity:</label>
        <input type="text" id="Humidity" name="Humidity" pattern="\d+(\.\d{1,2})?" required><br>

        <label for="STATE">State:</label>
        <select id="STATE" name="STATE">
            {% for state in states %}
            <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select><br>
        
        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
    <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>
